.start__container {
  height: 100%;
  width: 100%;
}
.start {
  padding-top: 300px;
  /* position: absolute;
  top: 40%;
  margin: 0 auto;
  padding: 10px; */
}
.start h1 {
  margin-bottom: 20px;
  font-size: large;
  text-align: center;
}
.start h2 {
  font-size: x-large;
  text-align: center;
}

.start h3 {
  font-size: 13px;
  text-align: center;
  padding: 20px;
}
