.home__container {
  height: 100%;
  width: 100%;
}
.home {
  padding-top: 300px;
  /* position: absolute;
  top: 40%;
  margin: 0 auto;
  padding: 10px; */
}
.home h1 {
  margin-bottom: 20px;
  font-size: large;
  text-align: center;
}
.home h2 {
  font-size: x-large;
  text-align: center;
}

.home h3 {
  font-size: 13px;
  text-align: center;
  padding: 20px;
}
.home__logout {
  position: absolute;
  top: 20px;
  right: 20px;
}
